In [125]:
from scipy.io import arff
import pandas as pd
from sklearn.model_selection import train_test_split

data = arff.loadarff('CEE_DATA.arff')
df = pd.DataFrame(data[0])

df.describe()

,Performance,Gender,Caste,coaching,time,Class_ten_education,twelve_education,medium,Class_ X_Percentage,Class_XII_Percentage,Father_occupation,Mother_occupation
count,666,666,666,666,666,666,666,666,666,666,666,666
unique,4,2,4,3,6,3,3,3,4,4,8,9
top,b'Good',b'male',b'General',b'WA',b'TWO',b'SEBA',b'AHSEC',b'ENGLISH',b'Excellent',b'Excellent',b'OTHERS',b'HOUSE_WIFE'
freq,210,355,329,449,368,396,368,536,511,398,277,442

In [126]:
df

,Performance,Gender,Caste,coaching,time,Class_ten_education,twelve_education,medium,Class_ X_Percentage,Class_XII_Percentage,Father_occupation,Mother_occupation
0,b'Excellent',b'male',b'General',b'NO',b'ONE',b'SEBA',b'AHSEC',b'ENGLISH',b'Excellent',b'Excellent',b'DOCTOR',b'OTHERS'
1,b'Excellent',b'male',b'OBC',b'WA',b'TWO',b'SEBA',b'AHSEC',b'OTHERS',b'Excellent',b'Excellent',b'SCHOOL_TEACHER',b'HOUSE_WIFE'
2,b'Excellent',b'male',b'OBC',b'OA',b'TWO',b'OTHERS',b'CBSE',b'ENGLISH',b'Excellent',b'Excellent',b'BUSINESS',b'HOUSE_WIFE'
3,b'Excellent',b'male',b'General',b'WA',b'ONE',b'SEBA',b'AHSEC',b'OTHERS',b'Excellent',b'Excellent',b'SCHOOL_TEACHER',b'SCHOOL_TEACHER'
4,b'Excellent',b'male',b'General',b'OA',b'TWO',b'SEBA',b'CBSE',b'ENGLISH',b'Excellent',b'Excellent',b'COLLEGE_TEACHER',b'HOUSE_WIFE'
...,...,...,...,...,...,...,...,...,...,...,...,...
661,b'Average',b'female',b'ST',b'WA',b'ONE',b'SEBA',b'AHSEC',b'ENGLISH',b'Good',b'Vg',b'OTHERS',b'HOUSE_WIFE'
662,b'Average',b'male',b'ST',b'WA',b'THREE',b'SEBA',b'AHSEC',b'ENGLISH',b'Vg',b'Good',b'CULTIVATOR',b'HOUSE_WIFE'
663,b'Average',b'male',b'ST',b'WA',b'TWO',b'SEBA',b'CBSE',b'ENGLISH',b'Good',b'Vg',b'OTHERS',b'SCHOOL_TEACHER'
664,b'Average',b'male',b'ST',b'WA',b'THREE',b'SEBA',b'AHSEC',b'ENGLISH',b'Good',b'Good',b'SCHOOL_TEACHER',b'HOUSE_WIFE'
665,b'Average',b'female',b'ST',b'NO',b'ONE',b'SEBA',b'CBSE',b'ENGLISH',b'Vg',b'Good',b'BUSINESS',b'OTHERS'

In [127]:
df.Performance.value_counts()

b'Good'         210
b'Vg'           198
b'Average'      157
b'Excellent'    101
Name: Performance, dtype: int64

In [128]:
df.isnull().sum()

Performance             0
Gender                  0
Caste                   0
coaching                0
time                    0
Class_ten_education     0
twelve_education        0
medium                  0
Class_ X_Percentage     0
Class_XII_Percentage    0
Father_occupation       0
Mother_occupation       0
dtype: int64

In [129]:
df = df.rename({'Class_ X_Percentage': 'Class_X_Percentage'}, axis=1)

In [130]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()
df.Performance = le.fit_transform(df['Performance'])
df.Gender = le.fit_transform(df['Gender'])
df.Caste = le.fit_transform(df['Caste'])
df.coaching = le.fit_transform(df['coaching'])
df.time = le.fit_transform(df['time'])
df.Class_ten_education= le.fit_transform(df['Class_ten_education'])
df.twelve_education = le.fit_transform(df['twelve_education'])
df.medium = le.fit_transform(df['medium'])
df.Class_X_Percentage = le.fit_transform(df['Class_X_Percentage'])
df.Class_XII_Percentage = le.fit_transform(df['Class_XII_Percentage'])
df.Father_occupation = le.fit_transform(df['Father_occupation'])
df.Mother_occupation = le.fit_transform(df['Mother_occupation'])
#df.Gender = le.fit_transform(df['Gender'])

df

,Performance,Gender,Caste,coaching,time,Class_ten_education,twelve_education,medium,Class_X_Percentage,Class_XII_Percentage,Father_occupation,Mother_occupation
0,1,1,0,0,2,2,0,1,1,1,4,7
1,1,1,1,2,5,2,0,2,1,1,7,6
2,1,1,1,1,5,1,1,1,1,1,1,6
3,1,1,0,2,2,2,0,2,1,1,7,8
4,1,1,0,1,5,2,1,1,1,1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...
661,0,0,3,2,2,2,0,1,2,3,6,6
662,0,1,3,2,4,2,0,1,3,2,3,6
663,0,1,3,2,5,2,1,1,2,3,6,8
664,0,1,3,2,4,2,0,1,2,2,7,6
665,0,0,3,0,2,2,1,1,3,2,1,7

In [131]:
y=df.Performance
#x_train, x_test, y_train, y_test = train_test_split(x, y, testsize = 0.2, random_state = 1)
#x_train
x=df[['Gender','Caste','coaching','time','Class_ten_education','twelve_education','medium','Class_X_Percentage','Class_XII_Percentage','Father_occupation','Mother_occupation']]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [132]:
Fold1_x, f2_x, Fold1_y, f2_y = train_test_split(x_train, y_train, test_size = 0.8, random_state = 1)

In [133]:
Fold2_x, f3_x, Fold2_y, f3_y = train_test_split(f2_x, f2_y, test_size = 0.75, random_state = 1)

In [134]:
Fold3_x, f4_x, Fold3_y, f4_y = train_test_split(f3_x, f3_y, test_size = 2/3, random_state = 1)

In [89]:
Fold4_x, Fold5_x, Fold4_y, Fold5_y = train_test_split(f4_x, f4_y, test_size = 0.5, random_state = 1)

In [232]:
# importing necessary libraries
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
  

#max_depth = 2 
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier().fit(Fold1_x, Fold1_y)
dtree_predictions = dtree_model.predict(Fold5_x)

accuracy = dtree_model.score(Fold5_x, Fold5_y)
accuracy

0.38317757009345793

In [233]:
# creating a confusion matrix
cm1 = confusion_matrix(Fold5_y, dtree_predictions)
cm1

array([[22,  0,  5,  7],
       [ 0,  4,  7,  9],
       [ 2,  4,  9,  5],
       [ 1,  8, 18,  6]], dtype=int64)

In [234]:
dtree_predictions = dtree_model.predict(x_test)

accuracy = dtree_model.score(x_test, y_test)
print(accuracy)
cm1unseen = confusion_matrix(y_test, dtree_predictions)
cm1unseen

0.43283582089552236

array([[23,  2,  2,  4],
       [ 0,  4,  5, 11],
       [ 8, 10, 22, 12],
       [ 3,  6, 13,  9]], dtype=int64)

In [235]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier().fit(Fold2_x, Fold2_y)
dtree_predictions = dtree_model.predict(Fold5_x)


accuracy = dtree_model.score(Fold5_x, Fold5_y)
accuracy

0.5327102803738317

In [236]:
# creating a confusion matrix
cm2 = confusion_matrix(Fold5_y, dtree_predictions)
cm2

array([[26,  1,  6,  1],
       [ 1,  7,  6,  6],
       [ 4,  2,  9,  5],
       [ 2,  8,  8, 15]], dtype=int64)

In [237]:
dtree_predictions = dtree_model.predict(x_test)

accuracy = dtree_model.score(x_test, y_test)
print(accuracy)
cm2unseen = confusion_matrix(y_test, dtree_predictions)
cm2unseen

0.4253731343283582

array([[22,  0,  5,  4],
       [ 1,  6,  5,  8],
       [11,  5, 17, 19],
       [ 6,  6,  7, 12]], dtype=int64)

In [238]:
dtree_model = DecisionTreeClassifier().fit(Fold3_x, Fold3_y)
dtree_predictions = dtree_model.predict(Fold5_x)

accuracy = dtree_model.score(Fold5_x, Fold5_y)
accuracy

0.4485981308411215

In [239]:
# creating a confusion matrix
cm3 = confusion_matrix(Fold5_y, dtree_predictions)
cm3

array([[22,  2, 10,  0],
       [ 0,  7,  7,  6],
       [ 5,  2,  7,  6],
       [ 1,  3, 17, 12]], dtype=int64)

In [240]:
dtree_predictions = dtree_model.predict(x_test)

accuracy = dtree_model.score(x_test, y_test)
print(accuracy)
cm3unseen = confusion_matrix(y_test, dtree_predictions)
cm3unseen

0.5223880597014925

array([[20,  0,  9,  2],
       [ 0,  4,  9,  7],
       [ 9,  0, 30, 13],
       [ 2,  3, 10, 16]], dtype=int64)

In [241]:
dtree_model = DecisionTreeClassifier().fit(Fold4_x, Fold4_y)
dtree_predictions = dtree_model.predict(Fold5_x)
  
accuracy = dtree_model.score(Fold5_x, Fold5_y)
accuracy

0.4485981308411215

In [242]:
# creating a confusion matrix
cm4 = confusion_matrix(Fold5_y, dtree_predictions)
cm4

array([[25,  0,  8,  1],
       [ 3,  5,  7,  5],
       [ 2,  1,  7, 10],
       [ 5,  4, 13, 11]], dtype=int64)

In [243]:
dtree_predictions = dtree_model.predict(x_test)

accuracy = dtree_model.score(x_test, y_test)
print(accuracy)
cm4unseen = confusion_matrix(y_test, dtree_predictions)
cm4unseen

0.3880597014925373

array([[25,  0,  3,  3],
       [ 1,  2, 12,  5],
       [17,  2, 17, 16],
       [ 2,  6, 15,  8]], dtype=int64)

In [244]:
dtree_model = DecisionTreeClassifier().fit(x_train,y_train)
dtree_predictions = dtree_model.predict(Fold5_x)
  

accuracy = dtree_model.score(Fold5_x, Fold5_y)
accuracy

0.9345794392523364

In [245]:
# creating a confusion matrix
cm = confusion_matrix(Fold5_y, dtree_predictions)
cm

array([[34,  0,  0,  0],
       [ 0, 19,  0,  1],
       [ 2,  1, 17,  0],
       [ 0,  2,  1, 30]], dtype=int64)

In [246]:
dtree_predictions = dtree_model.predict(x_test)

accuracy = dtree_model.score(x_test, y_test)
print(accuracy)
cmunseen = confusion_matrix(y_test, dtree_predictions)
cmunseen

0.4626865671641791

array([[25,  0,  4,  2],
       [ 0,  4,  9,  7],
       [12,  8, 20, 12],
       [ 6,  2, 10, 13]], dtype=int64)

In [180]:
##SVM    ********************************************************************************************
#*******************************************************************************************************
#********************************************************************************************************

from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(Fold1_x, Fold1_y)
svm_predictions = svm_model_linear.predict(Fold5_x)
  
# model accuracy for X_test  
accuracy = svm_model_linear.score(Fold5_x, Fold5_y)
accuracy

0.4953271028037383

In [181]:
# creating a confusion matrix
cm1 = confusion_matrix(Fold5_y, svm_predictions)
cm1

array([[28,  1,  5,  0],
       [ 2,  2, 11,  5],
       [ 3,  2, 12,  3],
       [ 3,  1, 18, 11]], dtype=int64)

In [182]:
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(Fold2_x, Fold2_y)
svm_predictions = svm_model_linear.predict(Fold5_x)
  
# model accuracy for X_test  
accuracy = svm_model_linear.score(Fold5_x, Fold5_y)
accuracy

0.514018691588785

In [183]:
# creating a confusion matrix
cm2 = confusion_matrix(Fold5_y, svm_predictions)
cm2

array([[25,  0,  8,  1],
       [ 1,  3,  6, 10],
       [ 5,  1,  8,  6],
       [ 1,  6,  7, 19]], dtype=int64)

In [184]:
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(Fold3_x, Fold3_y)
svm_predictions = svm_model_linear.predict(Fold5_x)
  
# model accuracy for X_test  
accuracy = svm_model_linear.score(Fold5_x, Fold5_y)
accuracy

0.5327102803738317

In [185]:
# creating a confusion matrix
cm3 = confusion_matrix(Fold5_y, svm_predictions)
cm3

array([[28,  2,  3,  1],
       [ 0,  4,  5, 11],
       [ 2,  1, 11,  6],
       [ 1,  7, 11, 14]], dtype=int64)

In [186]:
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(Fold3_x, Fold3_y)
svm_predictions = svm_model_linear.predict(Fold5_x)
  
# model accuracy for X_test  
accuracy = svm_model_linear.score(Fold5_x, Fold5_y)
accuracy

0.5327102803738317

In [187]:
# creating a confusion matrix
cm3 = confusion_matrix(Fold5_y, svm_predictions)
cm3

array([[28,  2,  3,  1],
       [ 0,  4,  5, 11],
       [ 2,  1, 11,  6],
       [ 1,  7, 11, 14]], dtype=int64)

In [188]:
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(Fold4_x, Fold4_y)
svm_predictions = svm_model_linear.predict(Fold5_x)
  
# model accuracy for X_test  
accuracy = svm_model_linear.score(Fold5_x, Fold5_y)
accuracy

0.616822429906542

In [189]:
# creating a confusion matrix
cm4 = confusion_matrix(Fold5_y, svm_predictions)
cm4

array([[31,  0,  2,  1],
       [ 1,  5,  4, 10],
       [ 5,  2,  8,  5],
       [ 3,  1,  7, 22]], dtype=int64)

In [190]:
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(x_train,y_train)
svm_predictions = svm_model_linear.predict(Fold5_x)
  
# model accuracy for X_test  
accuracy = svm_model_linear.score(Fold5_x, Fold5_y)
accuracy

0.6074766355140186

In [191]:
# creating a confusion matrix
cm = confusion_matrix(Fold5_y, svm_predictions)
cm

array([[31,  0,  2,  1],
       [ 1,  2,  5, 12],
       [ 4,  1, 11,  4],
       [ 3,  1,  8, 21]], dtype=int64)

In [192]:
# training a KNN classifier**************************************************************************
#****************************************************************************************************
#****************************************************************************************************
#***************************************************************************************************

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(Fold1_x,Fold1_y)
  
# accuracy on X_test
accuracy = knn.score(Fold5_x, Fold5_y)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(Fold5_x) 
cm1 = confusion_matrix(Fold5_y, knn_predictions)
cm1

0.3364485981308411

array([[24,  0, 10,  0],
       [ 0,  5, 10,  5],
       [ 6,  4,  6,  4],
       [ 5,  3, 24,  1]], dtype=int64)

In [193]:

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(Fold2_x,Fold2_y)
  
# accuracy on X_test
accuracy = knn.score(Fold5_x, Fold5_y)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(Fold5_x) 
cm2 = confusion_matrix(Fold5_y, knn_predictions)
cm2

0.411214953271028

array([[18,  1,  5, 10],
       [ 1,  5,  4, 10],
       [ 5,  2,  6,  7],
       [ 3,  9,  6, 15]], dtype=int64)

In [194]:

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(Fold3_x,Fold3_y)
  
# accuracy on X_test
accuracy = knn.score(Fold5_x, Fold5_y)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(Fold5_x) 
cm3= confusion_matrix(Fold5_y, knn_predictions)
cm3

0.4205607476635514

array([[21,  1,  8,  4],
       [ 1,  5,  5,  9],
       [ 2,  1,  8,  9],
       [ 3,  9, 10, 11]], dtype=int64)

In [195]:

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(Fold4_x,Fold4_y)
  
# accuracy on X_test
accuracy = knn.score(Fold5_x, Fold5_y)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(Fold5_x) 
cm4 = confusion_matrix(Fold5_y, knn_predictions)
cm4

0.5233644859813084

array([[29,  1,  1,  3],
       [ 0,  4,  6, 10],
       [ 1,  1,  8, 10],
       [ 3,  4, 11, 15]], dtype=int64)

In [196]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(x_train, y_train)
  
# accuracy on X_test
accuracy = knn.score(x_test, y_test)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(Fold5_x) 
cm = confusion_matrix(Fold5_y, knn_predictions)
cm

0.5074626865671642

array([[28,  2,  1,  3],
       [ 1,  9,  6,  4],
       [ 3,  1, 12,  4],
       [ 1,  5,  9, 18]], dtype=int64)